{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">

		<div id="global-breadcrumb" class="header-context">

		<ol id="global-breadcrumb">
				<li class="global-breadcrumb"><a href="/">Home</a></li>
			<li><a href="/browse/housing-local-services">Housing and local services</a></li>
<li><strong><a href="/browse/housing-local-services/repossessions-evictions">Repossessions, emergency housing and evictions</a></strong></li>
</ol>
</div>
	<div class="column-two-thirds">





		<p>	<h1 class="heading-xlarge">Apply for emergency housing from your council</h1>

		<p>Check what help and advice your council can provide if you are homeless or about to lose your home.</p>

		<h2 class="heading-large">Find your local council</h2>

		<div class="geolocate">
		<div class="no-postcode">
			<div class="find-where-i-am">


		<p>	<a href="start-now-simple3"><!--<img src="public/images/geolocate.png" width="22px">-->
		<span class="heading-medium">Use your location to find your local council</p></a>
			</div>
		</div>
</div>
		<p><span class="heading-medium">If you have a postcode, enter a full postcode (UK only)</span></p>
	<p>If you don't have a full postcode, you can try entering a partial postcode (eg SE3) for a list of councils</p>
			<input class="input" id="postcode" name="postcode" type="text" placeholder="eg SE3 7UE or SE3">
			<a href="start-now-simple"> <button class="button">Find</button></a>

			<a href="no-postcode-error">&nbsp;</a>




	</div>
	<div class="column-third">


		<div class="service-links">

			<h2 class="heading-medium">Council Tax</h2>


						<ul><li>
									<a href="/council-tax">Council Tax</a>
								</li>

								<li>
									<a href="/council-tax-bands">Check your Council Tax band</a>
								</li>

								<li>
									<a href="/council-tax-reduction">Council Tax Reduction</a>
								</li>


								<li class="related-topic"><a href="/browse/housing-local-services/council-tax">More <span class="visuallyhidden">in Council Tax</span></a></li>

						</ul></nav>
	</div>

	</div>
	</div>





	</main>

	{{/content}}

	{{/layout}}
