{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">

		<div id="global-breadcrumb" class="header-context">

		<ol id="global-breadcrumb">
				<li class="global-breadcrumb"><a href="/">Home</a></li>
			<li><a href="/browse/housing-local-services">Housing and local services</a></li>
<li><strong><a href="/browse/housing-local-services/repossessions-evictions">Repossessions, emergency housing and evictions</a></strong></li>
</ol>
</div>
	<div class="column-two-thirds">





		<p>	<h1 class="heading-xlarge">Apply for emergency housing from your council</h1>

		<p>Check what help and advice your council can provide if you are homeless or about to lose your home.</p>

		<h2 class="heading-large">Find a local council</h2>
		<div class="form-group form-group-compound">
		<label class="block-label" for="find-me" data-target="find-computer">
			<input id="find-me" type="radio" name="method" value="Citizen of a different country">
			Use my current location
		</label>
	<div class="panel-indent js-hidden" id="find-computer">
		<p>
		<a href="start-now-simple3"><button class="button">Find</button></p></a>
	</div>

	<label class="block-label" for="city" data-target="street-name">
	<input id="city" type="radio" name="method" value="Citizen of a different country">
	Search by postcode
	</label>
	</div>

	<div class="panel-indent js-hidden" id="street-name">
	<label class="form-label" for="street-name-city">eg SE3 7UE or SE3</label>
	<input class="form-control" type="text" id="street-name-city">
	<a href="start-now-simple"><button class="button">Find</button></p></a>
	<p><a href="http://www.royalmail.com/find-a-postcode">Find your postcode on Royal Mail Postcode Finder<a></p>
	</div>

	</fieldset>


	</div>
	<div class="column-third">


		<div class="service-links">

			<h2 class="heading-medium">Council Tax</h2>


						<ul><li>
									<a href="/council-tax">Council Tax</a>
								</li>

								<li>
									<a href="/council-tax-bands">Check your Council Tax band</a>
								</li>

								<li>
									<a href="/council-tax-reduction">Council Tax Reduction</a>
								</li>


								<li class="related-topic"><a href="/browse/housing-local-services/council-tax">More <span class="visuallyhidden">in Council Tax</span></a></li>

						</ul></nav>
	</div>

	</div>
	</div>





	</main>

	{{/content}}

	{{/layout}}
