{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Local government links</h1>
	<!-- feel free to change this page to suit your needs -->

	<h2 class="heading-large">Start pages</h2>


	<ol class="list-number">
		<li>
			Priority on searching by postcode: </br> <a href="/pay-council-tax">Pay council tax</a>
		</li>
		<li>
			Priority on searching by place: </br> <a href="/apply-emergency-housing">Apply for emergency housing</a> </br>

				<a href="/report-pothole">Report a pothole</a>
			</li>
	</ol>

	<h2 class="heading-large">Steps</h2>


	<ul>

		<li>
			<a href="/no-postcode">Search by place</a>
		</li>
		<li>
			<a href="/no-postcode-error">Postcode error</a>
		</li>
	</ul>

	<h2 class="heading-large"><strike>Archived designs</strike></h2>
	<ul>
		<li>
			<a href="/city-list">Search by street name and city: city list when there are multiple results</a>
		</li>

	</ul>

<!--
	<h2 class="heading-large">Sketches</h2>

	<img src="public/images/council_tax_sketches.png">
-->



</main>

{{/content}}

{{/layout}}
