{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Local government links</h1>
	<!-- feel free to change this page to suit your needs -->

	<h2 class="heading-large">Pages</h2>

	<ul>
		<li>
			<a href="/pay-council-tax">Pay council tax</a>
		</li>
		<li>
			<a href="/report-a-pothole">Report a pothole</a>
		</li>
		<li>
			<a href="/apply-emergency-housing">Apply for emergency housing</a>
		</li>
	</ul>

	<h2 class="heading-large">Sketches</h2>

	<img src="public/images/council_tax_sketches.png">




</main>

{{/content}}

{{/layout}}
