{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Local government links</h1>
	<!-- feel free to change this page to suit your needs -->

	<h2 class="heading-large">Start pages</h2>

<h2 class="heading-small">Refreshed content – 20 November 2015</h2>

	<ol class="list-number">
		<li><a href="pay-council-tax_2">Pay council tax</a></li>
		<li><a href="start-now-simple_2">Pay council tax - start</a></li>
		<li><a href="no-postcode-error_2">No postcode error</a></li>

</ol>

<hr>

	<ol class="list-number">
		<li>
			Priority on searching by postcode: </br> <a href="/pay-council-tax">Pay council tax</a>
			<br><a href="start-now-simple">Start page for find by postcode</a>
		</li>
		<li>
			Priority on using geolocation: </br> <a href="/apply-emergency-housing">Apply for emergency housing</a>
		<br><a href="start-now-simple3">Start page for geolocation</a></li>

			<li>Needs content / product discussion: </br> <a href="/report-pothole">Report a pothole</a>
			</li>
	</ol>

	<h2 class="heading-large">Steps</h2>


	<ul>

		<li>
			<a href="/no-postcode-error">Postcode error</a>
		</li>
	</ul>

	<h2 class="heading-large"><strike>Archived designs</strike></h2>
	<ul>
		<li><a href="start-now-simple2">Start page for search by street name and city</a></li>
		<li>
			<a href="/no-postcode">Search by place</a>
		</li>
		<li>
			<a href="/city-list">Search by street name and city: city list when there are multiple results</a>
		</li>

	</ul>

	<h2 class="heading-large"><strike>Archived sketches</strike></h2>
	<p>These are out of date (the prototype is up to date)</p>

	<img src="public/images/council_tax_sketches.png">



</main>

{{/content}}

{{/layout}}
