{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	<div class="column-two-thirds">
		<div class="back">
		<p><a href="pay-council-tax">Back</a></p>
	</div>
		<p>	<h1 class="heading-xlarge">Pay council tax</h1>

		<p>Pay Council Tax online or by other methods such as direct debit.</p>
		<h2 class="heading-medium">Find my local area</h2>

		<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

<p>	<span class="heading-medium" id="error-summary-heading-example-2">
		There was a problem with your postcode
	</span></p>

	<p>
		Try checking your postcode and entering it again.
	</p>



</div>

<div class="form-group error">

	<label for="example-full-name" id="error-full-name">

		<span class="form-label-bold">Postcode</span>
		<span class="error-message" id="error-message-full-name">Enter your full postcode (UK only)</span>

	</label>
</br>
	<input class="form-control" id="example-full-name" type="text" name="fullName" value="" aria-describedby="error-message-full-name">
	<input class="button" type="submit" value="Find">

</div>


				<p>We can also find your area using one of the following:</p>

						<div class="find-where-i-am">
							<h2 class="heading-small">Search by street name and city</h2>
						<input class="input" name="streetname" id="full-name-f1" placeholder="eg Cato Road, London" type="text">   <button class="button">Find</button></a>
					</div>

						<h3 class="heading-medium">Or&hellip;</h3>

						<div class="find-where-i-am">
										<a href="no-postcode">	<h2 class="heading-small">Find where I am right now</a></h2>
										<p>Use your computer's current location</p>
										</div>


</div>
	<div class="column-third">


		<div class="service-links">

			<h2 class="heading-medium">Council Tax</h2>


						<ul><li>
                  <a href="/council-tax">Council Tax</a>
                </li>

                <li>
                  <a href="/council-tax-bands">Check your Council Tax band</a>
                </li>

                <li>
                  <a href="/council-tax-reduction">Council Tax Reduction</a>
                </li>


                <li class="related-topic"><a href="/browse/housing-local-services/council-tax">More <span class="visuallyhidden">in Council Tax</span></a></li>

            </ul></nav>
</div>

	</div>
</div>





</main>

{{/content}}

{{/layout}}
