{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	<div class="column-two-thirds">
		<div class="back">
		<p><a href="pay-council-tax">Back</a></p>
	</div>
		<p>	<h1 class="heading-xlarge">Pay your Council Tax</h1>

		<p>Pay Council Tax online or by other methods such as direct debit.</p>

		<p>First we need to find your local council, by using the area you live in.</p>



		  <fieldset>
		    <legend>
		      <span class="form-label-bold">
		      </span>
		    </legend>

		    <div class="form-group form-group-compound">
				<label class="block-label" for="find-me" data-target="find-computer">
					<input id="find-me" type="radio" name="method" value="Citizen of a different country">
					Find my current location
				</label>
			<div class="panel-indent js-hidden" id="find-computer">
				<p>
				<a href="start-now-simple3"><button class="button">Find</button></p></a>
</div>

<label class="block-label" for="city" data-target="street-name">
	<input id="city" type="radio" name="method" value="Citizen of a different country">
	Search for local council or local authority
</label>
</div>

<div class="panel-indent js-hidden" id="street-name">
<label class="form-label" for="street-name-city">eg Camden Council</label>
<input class="form-control" type="text" id="street-name-city">
<p>
<a href="city-list"><button class="button">Find</button></p></a>
</div>

		  </fieldset>
</div>


	<div class="column-third">


		<div class="service-links">

			<h2 class="heading-medium">Council Tax</h2>


						<ul><li>
                  <a href="/council-tax">Council Tax</a>
                </li>

                <li>
                  <a href="/council-tax-bands">Check your Council Tax band</a>
                </li>

                <li>
                  <a href="/council-tax-reduction">Council Tax Reduction</a>
                </li>


                <li class="related-topic"><a href="/browse/housing-local-services/council-tax">More <span class="visuallyhidden">in Council Tax</span></a></li>

            </ul></nav>
</div>

	</div>
</div>





</main>

<script src="/public/javascripts/govuk-template.js?0.13.0" type="text/javascript"></script>


<!-- govuk_frontend_toolkit js -->
<script src="/public/javascripts/vendor/polyfills/bind.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>

<!-- govuk_elements js -->
<script src="/public/javascripts/application.js"></script>

{{/content}}

{{/layout}}
