{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	<div class="column-two-thirds">
		<p>	<h1 class="heading-xlarge">Pay council tax</h1>

		<p>Pay Council Tax online or by other methods such as direct debit.</p>

		<h2 class="heading-medium">Find my local area</h2>

		<p>First we need to find your local council, by using the area you live in.</p>
		<div class="find-nearest">
			<label class="form-label" for="full-name-f1">Enter full postcode (UK only)</label>
		  <input class="input" id="postcode" name="postcode" type="text" placeholder="eg SE3 7UE">
			<a href="start-now-simple"> <button class="button">Find</button></a>
		</div>



<div class="no-postcode">
		<h2 class="heading-small">Other ways to find your location</h2></a>
		<p><a href="no-postcode">Search by streetname and city, or find your current location</a></p>
	</div>
</p>
	</div>
	<div class="column-third">


		<div class="service-links">

			<h2 class="heading-medium">Council Tax</h2>


						<ul><li>
                  <a href="/council-tax">Council Tax</a>
                </li>

                <li>
                  <a href="/council-tax-bands">Check your Council Tax band</a>
                </li>

                <li>
                  <a href="/council-tax-reduction">Council Tax Reduction</a>
                </li>


                <li class="related-topic"><a href="/browse/housing-local-services/council-tax">More <span class="visuallyhidden">in Council Tax</span></a></li>

            </ul></nav>
</div>

	</div>
</div>





</main>

{{/content}}

{{/layout}}
