{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	<div class="column-two-thirds">
		<p>	<h1 class="heading-xlarge">Pay your Council Tax</h1>

		<p>Pay Council Tax online or by other methods such as direct debit.</p>


<div class="find-where-i-am">
		<p><span class="heading-medium">Enter a postcode</span></p>
		<p>eg SE3 7UE</p>
		  <input class="input" id="postcode" name="postcode" type="text" placeholder="">
			<a href="start-now-simple"> <button class="button">Find</button></a>
			<p><a href="http://www.royalmail.com/find-a-postcode" rel="external">Find a postcode on Royal Mail's Postcode Finder<a></p>


	</div>

	<div class="geolocate">
	<div class="no-postcode">
		</div>
	</div>
	</div>
	<div class="column-third">


		<div class="service-links">

			<h2 class="heading-medium">Council Tax</h2>


						<ul><li>
                  <a href="/council-tax">Council Tax</a>
                </li>

                <li>
                  <a href="/council-tax-bands">Check your Council Tax band</a>
                </li>

                <li>
                  <a href="/council-tax-reduction">Council Tax Reduction</a>
                </li>


                <li class="related-topic"><a href="/browse/housing-local-services/council-tax">More <span class="visuallyhidden">in Council Tax</span></a></li>

            </ul></nav>
</div>

	</div>
</div>





</main>

{{/content}}

{{/layout}}
