{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	<div class="column-two-thirds">
		<div class="back">
		<p><a href="pay-council-tax">Back</a></p>
	</div>
		<p>	<h1 class="heading-xlarge">Pay your Council Tax</h1>

<!--
			<p>Pay Council Tax online or by other methods such as direct debit.</p>

			<h2 class="heading-medium">Pay council tax to Royal Borough of Greenwich</h2>
-->
		<p>You entered </br>
		<span class="heading-large">NW3</span>. </p>
		<p>There are 7 councils that begin with NW3:</p>

<div class="city-options">
	<label class="block-label" for="radio-1">
    <input id="radio-1" type="radio" name="radio-group" value="">
    High St, Brentford, Greater London
  </label>
  <label class="block-label" for="radio-2">
    <input id="radio-2" type="radio" name="radio-group"  value="">
    High St, Cambridge
  </label>
  <label class="block-label" for="radio-3">
    <input id="radio-3" type="radio" name="radio-group"  value="">
    High St, Dartford
  </label>
	<label class="block-label" for="radio-4">
    <input id="radio-3" type="radio" name="radio-group"  value="">
    High St, Feltham
  </label>
	<label class="block-label" for="radio-5">
		<input id="radio-3" type="radio" name="radio-group"  value="">
		High St, Haringey
	</label>
	<label class="block-label" for="radio-5">
		<input id="radio-3" type="radio" name="radio-group"  value="">
		High St, Oxford
	</label>
	<label class="block-label" for="radio-5">
		<input id="radio-3" type="radio" name="radio-group"  value="">
		High St, Watford
	</label>
</div>

	<p><a href="start-now-simple2"><button class="button">Next</button></p></a>



</p>
	</div>
	<div class="column-third">


		<div class="service-links">

			<h2 class="heading-medium">Council Tax</h2>


						<ul><li>
                  <a href="/council-tax">Council Tax</a>
                </li>

                <li>
                  <a href="/council-tax-bands">Check your Council Tax band</a>
                </li>

                <li>
                  <a href="/council-tax-reduction">Council Tax Reduction</a>
                </li>


                <li class="related-topic"><a href="/browse/housing-local-services/council-tax">More <span class="visuallyhidden">in Council Tax</span></a></li>

            </ul></nav>
</div>

	</div>
</div>





</main>

{{/content}}

{{/layout}}
