{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	<div class="column-two-thirds">
		<p>	<h1 class="heading-xlarge">Pay your Council Tax</h1>

			<h2 class="heading-medium">Pay council tax to Royal Borough of Greenwich</h2>

		<p>You selected the street name and city <span class="heading-small">Vanbrugh Hill, London</span> which is inside the Royal Borough of Greenwich &nbsp;
		<a href="pay-council-tax">Change location</a></p>

		<a href="http://www.royalgreenwich.gov.uk/site/" class="button button-get-started" role="button">Start now</a>
		<p><span class="heading-small">on the Royal Borough of Greenwich council website</span></p>

</p>
	</div>
	<div class="column-third">


		<div class="service-links">

			<h2 class="heading-medium">Council Tax</h2>


						<ul><li>
                  <a href="/council-tax">Council Tax</a>
                </li>

                <li>
                  <a href="/council-tax-bands">Check your Council Tax band</a>
                </li>

                <li>
                  <a href="/council-tax-reduction">Council Tax Reduction</a>
                </li>


                <li class="related-topic"><a href="/browse/housing-local-services/council-tax">More <span class="visuallyhidden">in Council Tax</span></a></li>

            </ul></nav>
</div>

	</div>
</div>





</main>

{{/content}}

{{/layout}}
