{{<layout}}

{{$pageTitle}}
Local government links
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	<div class="column-two-thirds">
		<p>	<h1 class="heading-xlarge">Pay your Council Tax</h1>


			<!--<h2 class="heading-medium">Pay council tax to <br><span class="heading-large">The Royal Borough of Greenwich</span></h2>-->


	<!--	<div class="find-where-i-am">-->
		<p class="font-large">You're in <span class="bold-large">the Royal Borough of Greenwich</span></br> </p>
<!--			<p class="font-medium">If this think this is wrong, you can <a href="pay-council-tax">search by location again or by postcode</a>.</br>-->

			<a href="http://www.royalgreenwich.gov.uk/site/" class="button button-get-started" role="button">Go to their website</a>
		<!--<div class="start-on-council"><p><span class="heading-small">on the Royal Borough of Greenwich council website</span></p></div>-->


		<p><span class="font-medium"><a href="pay-council-tax">The Royal Borough of Greenwich isn't my council</a></p>

</p>
	</div>
	<div class="column-third">


		<div class="service-links">

			<h2 class="heading-medium">Council Tax</h2>


						<ul><li>
                  <a href="/council-tax">Council Tax</a>
                </li>

                <li>
                  <a href="/council-tax-bands">Check your Council Tax band</a>
                </li>

                <li>
                  <a href="/council-tax-reduction">Council Tax Reduction</a>
                </li>


                <li class="related-topic"><a href="/browse/housing-local-services/council-tax">More <span class="visuallyhidden">in Council Tax</span></a></li>

            </ul></nav>
</div>

	</div>
</div>





</main>

{{/content}}

{{/layout}}
